h1{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

form{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
